.hero {
    text-align: center;
}

.hero-inner {
    position: relative; /* To display all elements above the background color */
}

.hero-copy {
    padding-top: 40px;
    padding-bottom: 60px;
}

.hero-title {
    @include font-weight(bold);
}

.hero-paragraph {
    margin-bottom: 32px;
}

.hero-form {
    max-width: 435px;
    margin: 0 auto;
}

.hero-info {
    margin-top: 42px;
    padding: get-content-padding(mobile);
    background-color: color(bg, 2);
    border-color: color(bg, 3);
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;

    @include media( '>small' ) {
		padding: get-content-padding(desktop);
	}
}

.hero-illustration {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    right: -40px;

    &::before {
        content: '';
        position: absolute;
        left: -150px;
        right: 0;
        top: 0;
        bottom: -300px;
        background: mix(color(primary, 3), color(primary, 1));
        background: linear-gradient(to bottom, color(primary, 3) 0, color(primary, 4) 100%);
    }

    img,
    svg {
        overflow: visible;
    }
}

.hero-illustration-browser {
    position: relative; /* To display all elements above the background color */

    img,svg {
        width: 600px;
        height: auto;
        margin-left: auto;
    }
}

@include media( '>medium' ) {

    .hero-paragraph {
        padding-left: 72px;
        padding-right: 72px;
    }

    .hero-illustration {
        right: -80px;
    }

    .hero-illustration-browser {

        img,svg {
            width: 640px;
        }
    }
}

@include media( '>large' ) {

    .hero {
        text-align: left;
        padding-top: 80px;
        padding-bottom: 80px;

        &::before {
            top: -80px; /* Header height */
            left: 620px;
            height: 100vh;
            width: 100%;
        }
    }

    .hero-inner {
        display: flex;
    }

    .hero-copy {
        padding-top: 60px;
        padding-right: 88px;
        min-width: 600px;
    }

    .hero-paragraph {
        padding-left: 0;
        padding-right: 0;
    }

    .hero-illustration {
        right: -30px;
        padding: 0;

        &::before {
            content: normal;
        }
    }

    .hero-illustration-browser {

        img,svg {
            width: 600px;
        }
    }

    .hero-form {
        margin: 0;
    }
}
